.admin-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;

}
.admin-list li{
    cursor: pointer;
}
.table{
    
}